@import url("/css/global.css");

.formulaire {
    text-align: center;
    margin-left: 25%;
    margin-right: 50%;
}
/*
/ProgrammationWeb/css/global.css
/ProgrammationWeb/html/img/130544-Saalbach-Hinterglemm.webp
*/
.arr{
    background-image: url("/html/img/130544-Saalbach-Hinterglemm.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
